streamlit
python-dotenv
pydantic

openai
anthropic

langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-chroma
langgraph
langsmith

chromadb
pandas
numpy
langchain-text-splitters
